<footer class="site-footer">
  <div class="footer-container">
    <div class="footer-brand">
      <img src="/img/sm-white-logo.svg" alt="SimpleMotion" height="32">
      <p class="footer-tagline">{{ .Site.Params.tagline }}</p>
    </div>
    <div class="footer-links">
      <div class="footer-col">
        <h4>Divisions</h4>
        <ul>
          <li><a href="/architecture/">Architecture</a></li>
          <li><a href="/entertainment/">Entertainment</a></li>
          <li><a href="/industry/">Industry</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Products</h4>
        <ul>
          <li><a href="/products/#simplicity-one">Simplicity One</a></li>
          <li><a href="/products/#simplicity-two">Simplicity Two</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Company</h4>
        <ul>
          <li><a href="/about/">About</a></li>
          <li><a href="/contact/">Contact</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; {{ now.Year }} SimpleMotion.Global Pty Ltd. All rights reserved.</p>
      <p class="footer-address">{{ .Site.Params.address }}</p>
    </div>
  </div>
</footer>
<script src="/js/nav.js"></script>
